@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
h4,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #26130e;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-feature-settings: "palt";
}

:root {
    --accent-color: #8e53a7;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

.pc_nav a:hover {
    color: var(--accent-color);
    /* opacity: 0.5; */
}

.footer a:hover {
    color: #26130e;
    /* opacity: 0.5; */
}

/* リセットcssでbody内の背景色を指定 */
body {
    background-color: #f3f5fa;
    overflow-x: hidden;
    /* height: 200vh; */
}

/* footer {
    アクセントカラーに変化する
    background-color: white;
} */

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
/* CSSリセットここまで */

.header_wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 13% 0 13%;
}

.pagetop-logo {
    font-family: "scotch-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    transform: scaleX(0.94);
    line-height: 0.7;
}

.pc_nav ul {
    display: flex;
    justify-content: right;
}

.pc_nav ul li {
    margin-left: 38px;
    transition: 0.3s;
}

.pc_nav a {
    font-family: "scotch-display", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

.footer {
    width: 100%;
    background-color: var(--accent-color);
    max-width: 1366px;
}

.wave {
    position: relative;
    height: 200px; /*何も表示されない場合は各波の親要素に高さを持たせましょう。*/
    margin-top: 459px;
}

canvas {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.footer ul li {
    color: #ffffff;
    font-family: "scotch-display", sans-serif;
    font-weight: 300;
    font-style: normal;
    border-right: solid 1px #ffffff;
    padding: 0 18px;
    margin-top: 194px;
    margin-bottom: 83px;
    transition: 0.3s;
}

.footer ul li:last-child {
    border-right: none;
}

.copyright {
    color: #ffffff;
    font-family: "scotch-display", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 11px;
    padding-bottom: 96px;
    text-align: center;
}

.footer h2 {
    color: #ffffff;
    font-family: "scotch-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 7.3vw;
    transform: scaleX(0.97);
    white-space: nowrap; /* テキストを折り返さないように設定 */
    overflow-wrap: normal; /* テキストがボックスの境界を超える場合は折り返さないように設定 */
    position: absolute;
    top: 4625px;
    right: -16px;
    line-height: 0;
}

.mailicon-pc_only {
    position: fixed;
    bottom: 214px;
    right: 952px;
    width: 106px;
}

.pc_relative-container {
    position: relative;
}

.mailicon_circle_pc {
    position: absolute;
    top: 0px;
    left: 0px;
    animation: rotate-anime 20s linear infinite;
}
@keyframes rotate-anime {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.mailicon_pc {
    position: absolute;
    top: 43px;
    left: 40px;
    width: 26px;
}

.mailicon_hover-pc_only {
    position: fixed;
    bottom: 447px;
    right: 952px;
    width: 106px;
}

.hover-pc_relative-container {
    position: relative;
}

.mailicon_circle_change_pc {
    position: absolute;
    top: 0px;
    left: 0px;
    animation: rotate-anime 20s linear infinite;
}

.mailicon_change_pc {
    position: absolute;
    top: 41px;
    left: 39px;
    width: 31px;
}
