h1 {
    font-family: "scotch-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12.5vw;
    transform: scaleX(0.94);
    position: absolute;
    top: 121px;
    line-height: 0.7;
    white-space: nowrap; /* テキストを折り返さないように設定 */
    overflow-wrap: normal; /* テキストがボックスの境界を超える場合は折り返さないように設定 */
}

/* scrolldown全体の場所 */
.scrolldown {
    /*描画位置※位置は適宜調整してください*/
    position: absolute;
    left: 8.1%;
    top: 418px;
    /*全体の高さ*/
    height: 321px;
}

/*scrollテキストの描写*/
.scrolldown p {
    border-top: solid 1px var(--accent-color);
    padding-top: 13px;
    color: var(--accent-color);
    font-family: "scotch-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    position: absolute;
    left: 9.8%;
    top: 13px;
    writing-mode: vertical-rl;
    margin-left: 19px;
}

/* 線の描写 */
.scrolldown::after {
    content: "";
    /* 描画位置*/
    position: absolute;
    top: 123px;
    /* 線の形状 */
    width: 1px;
    height: 321px;
    background: var(--accent-color);
    /* 線の動き何秒かけて動く。永遠にループ */
    animation: pathmove 2.2s ease-in-out infinite;
    opacity: 0;
}

/* 高さ・位置・透過が変化して線が上から下に動く */
@keyframes pathmove {
    0% {
        height: 0;
        top: 0;
        opacity: 0;
    }
    30% {
        height: 193px;
        opacity: 1;
    }
    100% {
        height: 0;
        top: 321px;
        opacity: 1;
    }
}

/* about */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 835px 0 197px 0;
    width: 100%;
    padding-left: 5.8%;
    position: relative;
}

/* .square {
    /* position: relative; */
/* width: 50vw; */
/* height: 50vw; */
/* border-radius: 50px; */
/* background-color: var(--accent-color); */
/* text-align: center; */
/* display: flex; */
/* flex-direction: column; */
/* justify-content: center; */
/* align-items: center; */
/* transition: 10s; */
/* } */
.square {
    /* position: relative; */
    width: 50vw;
    height: 50vw;
    border-radius: 50px;
    background-color: var(--accent-color);
    transition: 5s;
}
.square.is-active {
    border-radius: 99rem;
    transform: rotate(-90deg);
}

.about_heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 60%;
}

/* .square h2 {
    font-weight: 500;
    font-style: normal;
    font-size: 7.3vw;
    font-family: "scotch-display", sans-serif;
    color: #ffffff;
    transform: rotate(none);
} */
.about_heading h2 {
    font-weight: 500;
    font-style: normal;
    font-size: 7.3vw;
    font-family: "scotch-display", sans-serif;
    color: #ffffff;
    transform: rotate(none);
}
.about_heading h3 {
    font-family: "shippori-mincho", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7vw;
    color: #ffffff;
    rotate: none;
}
/* .square h3 {
    font-family: "shippori-mincho", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7vw;
    color: #ffffff;
    rotate: none;
} */

.text {
    padding-left: 5.8%;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    width: 50%;
    box-sizing: border-box;
}

.text h2 {
    font-size: 24px;
    padding-bottom: 27px;
    color: var(--accent-color);
}

.text h3 {
    font-size: 24px;
    padding: 47px 0 27px 0;
    color: var(--accent-color);
}

.text p {
    font-size: 16px;
    line-height: 1.8;
}

/* family */
.family {
    max-width: 1366px;
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.family h2 {
    color: #f3f5fa;
    font-family: "scotch-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48vw;
    transform: scaleX(0.72);
    overflow: hidden;
    position: absolute;
    top: 26%;
    left: 80%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    z-index: 2;
}

.family_photo {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    /* position: relative;
    align-items: center; */
}

.family li img {
    padding-bottom: 458px;
    max-width: 100%;
}

.works_title {
    align-items: flex-end;
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 103px;
}

.works_title h2 {
    color: var(--accent-color);
    font-family: "shippori-mincho", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    writing-mode: vertical-lr; /* 縦方向に配置 */
}

.works_title h3 {
    color: var(--accent-color);
    font-family: "scotch-display", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 100px;
    text-orientation: sideways; /* テキストの向きを指定 */
    writing-mode: vertical-lr; /* 縦方向に配置 */
}

.works ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* overflow: hidden; 表示領域外のコンテンツを非表示にする */
    margin-left: 2.4%;
    /* margin-right: 2.4%; */
    max-width: 1366px;
}

.works ul li {
    margin-right: 34px;
    width: 100%;
    overflow: hidden;
}

/* .works ul li:last-child {
    margin-right: none;
} */

.works img {
    border-radius: 9.7%;
    transition: 1s all;
}

.works img:hover {
    transform: scale(1.2, 1.2);
    transition: 1s all;
    border-radius: 9.7%;
}

/* works右矢印調整 */
.slick-next {
    /* right: -77px; */
    width: 12rem;
    height: 12rem;
    background-color: black;
    border-radius: 50%;
    opacity: 0.5;
    /* transform: translateX(50%); */
    transform: translate(60px, -88px);
}
.slick-next:before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}
/* works左矢印調整 */
.slick-prev {
    /* left: 77px; */
    z-index: 1;
    width: 12rem;
    height: 12rem;
    background-color: black;
    border-radius: 50%;
    opacity: 0.5;
    /* transform: translateX(50%); */
    transform: translate(-88px, -88px);
}
.slick-prev:before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(-45deg);
}

.viewbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    border-radius: 50%;
    color: #ffffff;
    font-family: "scotch-display", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 21px;
    height: 80px;
    width: 80px;
}
